body {
    background-color: #0081B1;
}

.header {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.logo-container {
    align-items: center;
    justify-content: center;
    display: block;
}

.logo {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    padding: 10px;
}

.navbar-item {
    display: inline-block;
}

.navbar-button {
    color: black;
    background-color: #4ba7c9;
    border: solid 1px black;
    border-radius: 5px;
}

.navbar-button:hover {
    background-color: #0081B1;
    border: solid 1px black;
}

ul li a {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration:none; 
    padding: 10px 25px 10px 25px;
    margin: 0px 10px 0 10px
}

.main {
    background-color: white;
    width: 1200px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10px;
}

.latest {
    font-family: "Karla", Arial, Helvetica, sans-serif;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 0 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.recipes-main {
    align-items: center;
    justify-content: center;
    display: block;
    background-color: #4ba7c9;
    padding: 25px 10px 0px 10px;
    margin: 10px 25px 10px 25px;
}

.recipes-main:hover {
    background-color: #0081B1;
}

.recipes {
    align-items: center;
    justify-content: center;
    display: block;
    background-color: #4ba7c9;
    padding: 10px 10px 0 10px;
}

.recipes:hover {
    background-color: #0081B1;
}

.picture {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.link {
    text-decoration: none;
}

.heading {
    font-family: "Karla", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    font-weight: bold;
    padding: 0 15px 0 15px;
    text-decoration: none;
    text-align: center;
}

.text {
    font-family: "Muli","Helvetica Neue",sans-serif;
    font-size: 100%;
    padding: 0 25px 0 15px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 1.8;
    color: #010101;
    text-align: center;
}

.footer {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
}

.line   {
    width: 1000px;
    color: black;
    border: solid 1px black;
}

.connect {
    font-size: 25px;
    margin: 10px;
}
.socials {
    width: 50px;
    margin: 0 10px 0 10px;
}

.title {
    color: black;
    font-family: "Karla", Arial, Helvetica, sans-serif;
    font-size: 32px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture2 {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.heading2 {
    margin: 0 0 0 20px;
}

.heading3 {
    margin: 0 350px 0 0;
}

.notes{
    margin: 0 450px 0 0;
}

.adapted {
    margin: 0 350px 0 0;
}

.steps {
    display: inline-block;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-icon {
    width: 150px;
}

.prep {
    margin: 0 0 0 30px;
}

.ingredients {
    display: block;
}

.line {
    border: solid 1px black;
    margin: 45px 0 10px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.forms {
    background-color: white;
    border: solid 1px black;
    border-radius: 10px;
    padding: 0 0 20px 0;
}

.container2 {
    display: inline-block;
    margin: 5px 20px 10px 0;
}

input {
    width: 250px;
    height: 20px;
}
form {
    margin: 0 20px 0 20px;
}

.contact-heading {
    font-size: 30px;
    margin: 30px 0 15px 20px;
}

.contact-paragraph {
    font-size: 18px;
    margin: 15px 0 15px 20px;
}

.submit {
    width: 250px;
    height: 30px;
    border: solid 1px black;
    border-radius: 5px;
    margin: 15px 0 0 0;
    color: white;
    background-color: #4ba7c9;
}

.submit:hover {
    background-color: #0081B1;
}

.newsletter {
    margin: 0 30px 0 0;
}

label {
    font-size: 16px;
}

.measurement {
    color: gray;
}